
:root {
    --cbg: #202026;
    --btn_light: #32323a;
    --piece_black: #080816;
    --piece_white: #e6e6e6;
    --piece_gray: #3c3c3c;
}

body {
    margin: 0px;
	background-color: var(--cbg);
	/*margin-top:50px;*/
}


.tile {
    min-width: 1cm;
    height: 1cm;
    border-color: var(--cbg);
    font-family: sans-serif;
    color: black;
    text-align: center;
    font-size: 30px;

}

.white {
    background-color: lightgray;
}

.black {
    background-color: gray;
}

.label {
    font-size: 16px;
    color: whitesmoke;
}

table {
    border-radius: 4px;
    color: whitesmoke;
}

#moveStats {
    padding-left: 12px;
    padding-right: 32px;
    width: 100%;
}


#titleDiv {
    height: 50px;
    padding: 8px 16px 8px 16px;
    box-shadow: 0px 0px 8px 2px black;
    background-color: var(--cbg);
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#moveBar {
    margin: 8px;
    display: flex;
    color: white;
    font-family: sans-serif;
    min-height: 40px;
    width: 100%; 
}

#upBtn {
    width: 80px;
    height: 40px;
    font-weight: bolder;

    border-radius: 8px;
    display: inline-block;
    background-color: var(--cbg);
    color: whitesmoke;
    transition-duration: 0.2s;
}

#upBtn:hover {
    background-color: var(--btn_light);
}

#prevBtn {
    color: whitesmoke;
    font-weight: bolder;

    min-width: 40px;
    height: 40px;
    align-self: center;
    background-color: var(--cbg);
    border-radius: 50%;

}

#prevBtn:hover {
    background-color: var(--btn_light);
}


#visDiv {
    display: flex;
    justify-content: center;
    height: 9cm;
    color: whitesmoke;
}

#chessboard {
    width: 100%;
    max-width: 380px;
}

#move {
    text-align: left;
    width: 60px;
}

#bar {
    height: 24px;
    line-height: 24px;
    width: 100%;
    padding: 4px;
    display: flex;
}

#score {
    text-align: right;
    width: 42px;
}

#resBar {
    height: 100%;
    width: 100%;
    display: flex;
}

#res {
    text-align: center;
    height: 100%px;
}

.wRes {
    background-color: whitesmoke;
    color: black;
}

.bRes {
    background-color: black;
    color: whitesmoke;
}

.dRes {
    background-color: gray;
    color: black;
}

h1 {
    font-family: sans-serif;
}


/* Drag'n'Drop file upload modal for future use (maybe?)*/
/*

.modalBgr {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    z-index: 1;
    display: flex;
    justify-content: space-around;
}

.modal {
    height: 12cm;
    width: 10cm;
    margin-top: 80px;

    border-radius: 10px;
    background-color: var(--cbg);
    box-shadow: 0px 0px 10px black;
}
*/